/* Style for the selected content */
.reports {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Styles for table */
.report-table {
    align-self: center;
    width: 80%;
}

#report-title {
    color: black;
}

.modal-content {
    height: 90%;
}