.chat-container {
    background-image: url('/public/El\ palacio\ de\ las\ gafas.jpg');
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    height: 100%;
    width: 100%;
}


.chat {
    align-self: flex-end;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-left: 1%;
    width: 40%;
}

.chat-header {
    align-items: center;
    background-color: rgb(25, 25, 76);
    border-radius: 10px 10px 0 0;
    color: white;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
}
.chat-header img {
    max-height: 100%; /* Scale image height to fit within parent */
    max-width: 135px; /* Scale image width to fit within parent */
    margin-right: 10px; /* Optional: Add margin between image and text */
}
.chat-header h2 {
    margin: 0; /* Reset margin for heading */
}

.message-box {
    background-color: white;
    height: calc(100% - 110px);
    overflow-y: scroll;
    width: 100%;
}


.bot-message {
    align-items: center;
    background-color: rgb(145, 187, 255);
    border-radius: 0 5px 5px 5px;
    display: flex;
    margin: 5px 0 0 12px;
    max-width: 80%;
    padding: 1% 2%;
    position: relative;
    text-align: left;
}
/* Triangle shape for the peak */
.bot-message::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust this value to control the height of the peak */
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: black rgb(145, 187, 255) transparent transparent; /* Adjust the color to match the background color of the .bot-message */
}


.user-message {
    align-items: center;
    background-color: rgb(211, 211, 211); /* Change the background color as needed */
    border-radius: 5px;
    margin-top: 5px; /* Adjust margin to create space between messages */
    margin-left: auto;
    margin-right: 12px;
    padding: 1% 2%;
    max-width: 70%; /* Adjust the maximum width as needed */
    align-self: flex-end; /* Align the user message to the right */
    text-align: right; /* Align the text to the right */
    position: relative; /* Set position to relative for absolute positioning of the peak */
}

/* Triangle shape for the peak */
.user-message::before {
    content: '';
    position: absolute;
    top: 0;
    right: -7px; /* Adjust the distance from the right side of the container */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0; /* Adjust to control the size and direction of the peak */
    border-color: rgb(211, 211, 211) transparent transparent transparent; /* Adjust the color to match the background color of the .user-message */
}


.text-box {
    align-items: center;
    background-color: white;
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
}
#option {
    border: none;
    width: 90%;
    height: 100%;
}


.login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for scroll bar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(145, 187, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(25, 25, 76);
    border-radius: 4px;
}

#option {
    padding-left: 10px;
}