.App {
  text-align: center;
  min-height: 100vh;
  height: 100vh;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

@keyframes App-logo-spin {
  from {
    /*transform: rotate(0deg);*/
    transform: rotateY(0deg);
  }
  to {
    /*transform: rotate(360deg);*/
    transform: rotateY(360deg);
  }
}