/* Style for the selected content */
.work-calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.form-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: center;
    width: 100%;
}

/* Styles for create button */
.modal {
    align-items: flex-start;
    align-self: center;
    display: flex;
    height: 5%;
    width: 80%;
}

.question-table {
    align-self: center;
    height: 85%;
    width: 80%;
}

.title {
    align-items: center;
    display: flex;
    height: 5%;
    justify-content: center;
    width: 100%;
}
.work-calendar h3 {
    color: black;
    margin: 0px;
}


.creation-form {
    width: 70%; /* Adjust the width as needed */
}

.update-form pre {
    margin: 0px 0px 5px 0px;
}

.creation-form .ant-select, .creation-form .ant-transfer {
    justify-content: center;
    margin-bottom: 16px;
    width: 100%;
}
.ant-transfer .ant-transfer-list {
    width: 40%;
}

/* Styles for optometrist selector */
.duration-selection {
    align-items: center;
    align-self: center;
    display: flex;
    height: 10%;
    justify-content: center;
    width: 70%;
}

/* Style for button */
.work-calendar .calendar button{
    width: 100%;
}

.alert {
    font-size: 1.5em;
    color: red;
}