/* Style for the selected content */
.optometrist-schedule {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

/* Styles for the search bar */
.search-form {
    align-items: center;
    /*background-color: rgb(109, 111, 114);*/
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: center;
    width: 100%;
}

.patient-info {
    height: 95%;
    margin-top: 5%;
    width: 80%;
}
.tab-header {
    display: flex;
    flex-direction: row;
    height: 5%;
    position: relative;
    width: 100%;
}
.tab-content {
    align-items: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    box-shadow: 0px 0px 10px 10px rgb(58, 58, 72);
    display: flex;
    height: 85%;
    justify-content: center;
    left: 0;
    position: relative;
    right: 0;
    top: -1px;
    width: 100%;
    z-index: 0;
    overflow-y: scroll;
}
.tab {
    align-items: center;
    background-color: rgb(166, 166, 166);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 10px 30px 0 0;
    cursor: pointer;
    display: flex;
    font-size: 1.3em;
    height: 100%;
    justify-content: center;
    margin-right: 5px;
    position: relative;
    width: 200px;
    z-index: 1;
}
.active {
    background-color: rgb(255, 255, 255);
    color: rgb(160, 25, 26);
    font-weight: bold;
    border-bottom: none;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

/* Styles for create button */
.modal {
    align-items: flex-start;
    align-self: center;
    display: flex;
    height: 5%;
    width: 80%;
}

/* Styles for table */
.appointment-table {
    align-self: center;
    height: 85%;
    width: 80%;
}

.ant-spin-container {
    box-shadow: 0px 0px 15px rgb(50, 50, 50, 0.5);
}

.confirmation {
    color: black;
}